{% extends "base.html" %}

{% block menu %}
    <a class="btn btn-success" href="/main">Главная</a>
    <a class="btn btn-info" href="/guide_excs">Просмотр экскурсий</a>
{% endblock %}

{% block content %}
    <h1>{{ excursion.title }}</h1>
    <img src="{{ excursion.image }}" alt="NO_DATA">
    <p>{{ excursion.description }}</p>
    {% for com in comments %}
        <div>
            <h6>{{ com.date }}, {{ com.id }} Has written by {{ com.name_user }} ({{ com.role_user }}), {{ com.id_user }}</h6>
            <h5>{{ com.text }}</h5>
        </div>
        {% for error in com.errors %}
            <div class="error">{{ error }}</div>
        {% endfor %}
    {% endfor %}
{% endblock %}