{% extends "base.html" %}

{% block menu %}
    <a class="btn btn-success" href="/main">Главная</a>
    {% if user.role == "user" %}
        <a class="btn btn-info" href="/excursions">Просмотр экскурсий</a>
    {% endif %}
    {% if user.role == "guide" or user.role == "administrator" %}
        <a class="btn btn-info" href="/watching_excs">Просмотр экскурсий (в режиме редактирования)</a>
    {% endif %}
{% endblock %}

{% block content %}
    <h1>{{ excursion.title }}</h1>
    <img src="{{ excursion.image }}" alt="NO_DATA">
    <p>{{ excursion.description }}</p>
    <br></br>
    <p>Отзывы об экскурсии:</p>
    <br></br>
    {% for com in comments %}
        <div>
            <h6>{{ com.date }}, {{ com.id }} Написан {{ com.name_user }} ({{ com.role_user }}), {{ com.id_user }}</h6>
            <h5>{{ com.text }}</h5>
        </div>
        {% for error in com.errors %}
            <div class="error">{{ error }}</div>
        {% endfor %}
    {% endfor %}
    <br></br>
    <a class="btn btn-success">Отправить отзыв об экскурсии</a>
{% endblock %}