{% extends "base.html" %}

{% block menu %}
    {% if role == 'guide' or role == 'administrator' %}
        <a class="btn btn-primary" href="/watching_excs">Изменение экскурсий</a>
    {% endif %}
    {% if role == 'administrator' %}
        <a class="btn btn-primary" href="/adding_excs">Добавление экскурсий</a>
        <a class="btn btn-success" href="/watching_users">Просмотреть всех пользователей</a>
    {% endif %}
{% endblock %}

{% block content %}
    <img src="{{ image }}" alt="THERE IS NO PHOTO">
    <h1>Общая информация</h1>
    <h4>{{ about }}</h4>
    <h1>
        <a class="btn btn-primary" href="/excursions">Просмотреть экскурсии</a>
    </h1>
    <h1>Footer information</h1>
{% endblock %}